*{margin: 0; padding: 0;}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: Impact;
    src: url("../fonts/impact.ttf");
  }
.bg-lateral{
    width: 50vw;
    height: 100vh;
    background-image: url("../imgs/bg_micro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.black-fosc{
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0,0.7);
    z-index: 99999;
    display: flex;
    justify-content: end;
 
}
.raio{
    width: 50px;
    height: 50px;
    margin-top: 15px;
    padding: 0;
}
.raio img{
    width: 100%;
    height: 100%;
}

.black-fosc H1{
    z-index: 9999999;
    color: white;
    font-family: Impact;
    padding: 15px;
    display: flex;
    flex-direction: row;
}
.contem-form{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contem-form H2 {
    font-family: Impact;
    font-size: 80px;
}

.form {
    width: 500px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_pb {
 
  width: 400px;
  height: 45px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
  border-color: rgba(0,0,0,0.4);
  outline: 0;
}

.btn_pb {
    width: 400px;
    height: 80px;
    font-family: Impact;
    background-color:  #FF5656;
    font-size: 40px;
    color: white;
    border: none;
    border-radius: 1.5rem;
}
.btn_pb:focus, button:active {
    transition: 1s;
    transform: scale(1.1);
    background-color: #e74c3c;
    outline: none;
}
.msg-error{
    margin-left: 50px;
    padding: 0;
    top:  60px;
}
.bg-lateral-musico{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 850px) {
    .bg-lateral{display: none;}
    .contem-form{
        width: 100vh;
        height: 100vh;
        padding: 50px;
    }
  }

  .bg-lateral-perfil{
    width: 50vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
  }

  .cotem-cards{
      position: fixed;
  }

  .cards{
    background-size: cover;
    background-repeat: no-repeat;
  }

  .c1 {
      width: 400px;
      height: 600px;
      position: absolute;
      margin-top: 300px;
      z-index: 2;
      transform: rotate(-20deg);
      left: 100px;
      background-image: url("../imgs/mgirl.jpg");
  }

  .c2{
    width: 400px;
    height: 500px;
    position: absolute;
    transform: rotate(10deg);
    margin-top: 100px;
    z-index: -1;
    left: 230px;
    background-image: url("../imgs/m2.jpg");
  }

  .c3{
    width: 450px;
    height: 500px;
    position: absolute;
    transform: rotate(20deg);
    margin-top: 400px;
    z-index: 1;
    left: 400px;
    background-image: url("../imgs/m3.jpg");
  }
.contem-form-perfil{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contem-form-perfil H1{
    font-family: Impact;
    font-size: 80px;
}
.contem-form-perfil form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
  .content{
      width: 80%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

.nome{
    grid-area: nome;
}
.sexo{
    grid-area: sexo;
}
.cidade{
    grid-area: cidade;
}
.estado{
    grid-area: estado;
}
.email{
    grid-area: email;
}
.biografia{
    grid-area: biografia;
}
.instrumento{
    grid-area: instrumento;
}
.generos{
    grid-area:  generos;
}
.cotem-btn-perfil{
    grid-area: cotem-btn-perfil;
}
.contem-inputs{
    width: 700px;
    height: 100%;
    display: grid;
    grid-template-areas:
    "nome nome sexo"
    "cidade cidade estado"
    "email email email"
    "biografia biografia biografia"
    "instrumento instrumento instrumento"
    "generos generos generos"
    "cotem-btn-perfil cotem-btn-perfil cotem-btn-perfil";
}
.contem-inputs input{
    width: 100%;
    
}

.grp-input{
    padding: 10px;
}

.ft-perfil{
    border-radius: 50%;
    width: 500px;
    height: 500px;
    transform: scale(1.5, 1.5);
}

.cotem-btn-perfil{
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 1500px) {
    .bg-lateral-perfil{display: none;}
    .contem-form-perfil{
        width: 100vw;
        height: 100vh;
        padding: 150px;
    }
    .contem-inputs{
        
    }

  
  }


  @media only screen and (max-width: 1700px) {
    .c1{
        transform: scale(0.8,0.8) rotate(-20deg);
    }
    .c2{
        transform: scale(0.8,0.8) rotate(10deg);
    }
    .c3{
        transform: scale(0.8,0.8) rotate(20deg);
    }
  
  }
  @media only screen and (max-width: 1600px) {
    .c1{
        transform: scale(0.6,0.6) rotate(-20deg);
    }
    .c2{
        transform: scale(0.6,0.6) rotate(10deg);
    }
    .c3{
        transform: scale(0.6,0.6) rotate(20deg);
    }
  
  }

  

 